{{ $baseurl := .Site.BaseURL }}{{ $dateMissing := eq .Date.Year 1}}
<article class="single" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="meta">
{{ if eq $dateMissing false }}
    <span class="key">starts</span>
    <span class="val"><time itemprop="startTime" datetime="{{ .Date.Format "2006-01-02T03:04:05" }}">{{ .Date.Format "@ 3:04 PM on Monday [2006-01-02]" }}</time></span>
{{ end }}
{{ with .Params.categories }}
    <span class="key">{{ if eq $dateMissing true }}published {{ end }}in</span>
    <span class="val">
{{ range . }}
        <a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a>
{{ end }}
    </span>
{{ end }}
{{ with .Params.tags }}
    <br>
    <span class="key">tags:</span>
    <span class="val">
{{ range . }}
        <a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a>
{{ end }}
    </span>
{{ end }}
  </div>
  <h1 class="headline" itemprop="headline">[rush] {{ .Title }}</h1>
  <section class="body" itemprop="articleBody">
    {{ .Content }}
    <em> Need a ride? <a href="{{ ref . "contact.md"}}"> Contact us</a>.</em>
  </section>
</article>
