<article class="rush-event" itemscope itemtype="http://schema.org/Blog">
  <div class="rush-event-title-container">
    <h2 class="headline" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} (Draft){{ end }}</a></h2>
    <div class="meta">
      <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format "15:04" }}">{{ .Date.Format "@ 3:04 PM" }}</time></span>
    </div>
  </div>
  {{ if and (isset .Params "location") (not (eq 0 (countrunes .Params.location))) }}
    <div class="rush-event-location"><b>Location</b>: {{ .Params.location }}</div>
  {{ end }}
  <section class="summary">
    {{ .Summary }} {{ if .Truncated }} <a href="{{ .RelPermalink }}">Read More...</a>{{ end }}
  </section>
</article>