{{ partial "header.html" . }}
<main role="main" class="article-list">
  <div class="rush-title-container"> 
    <div><h1 class="list-title">Rush Events </h1></div>
    <div><h1><a class="base0d" href="{{ ref . "contact.md"}}">(Need a ride?)</a></h1></div>
  </div>
  {{ range .Data.Pages.GroupByDate "Monday, January 2" "asc"}}
    <h2 class="list-key">{{ .Key }}</h2>
    {{ range .Pages }}
      {{ partial "rush-event-list-entry.html" . }}
    {{ end }}
  {{ end }}
</main>
{{ partial "footer.html" . }}
