{{ partial "header.html" . }}
{{ $.Scratch.Set "displayOld" false }}
{{ partial "hero.html" . }}
<main role="main" class="article-list">

  <div class="rush-title-container"> 
    <div><h1 class="list-title">Spring Rush Events </h1></div>
  </div>

  {{ range .Data.Pages.GroupByDate "Monday, January 2" "asc"}}
    {{ $.Scratch.Set "displayDate" false }} 
    {{ range .Pages }}
      {{ if (eq (.Date.Format "Monday, January 2") "Friday, February 3")}}
        {{ $.Scratch.Set "displayDate" true }} 
      {{ end }}
    {{ end }}
    {{ if $.Scratch.Get "displayDate" }}
      <h2 class="list-key">{{ .Key }}</h2>
      {{ range .Pages }}
        {{ if eq (.Date.Format "Monday, January 2") "Friday, February 3"}}
          {{ partial "rush-event-list-entry.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  </main>
{{ partial "footer.html" . }}
